<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let card of cards">
   <ion-card-header>
     <img src = {{card.foto}}>
    <ion-card-title>{{ card.titulo }}</ion-card-title>
    <ion-card-subtitle>{{ card.subtitulo }}</ion-card-subtitle>
   </ion-card-header>

   <ion-card-content>
       {{ card.conteudo }}
   </ion-card-content>
   <ion-chip>
    <ion-icon name="chatbox-ellipses-outline" color="secondary"></ion-icon>
    <ion-label color="secondary">{{card.adicionais}}</ion-label>
  </ion-chip>

  
  <ion-chip>
    <ion-icon name="heart" color="danger"></ion-icon>
    <ion-label color="danger">{{card.adicionais2}}</ion-label>
  </ion-chip>

  
  <ion-item>
    <ion-label>Views</ion-label>
    <ion-badge color="light" slot="end">{{card.adicionais3}}</ion-badge>
  </ion-item>

  <ion-chip>
    <ion-avatar>
      <img src="https://img2.gratispng.com/20180316/gbw/kisspng-facebook-social-media-verified-badge-logo-vanity-u-blue-checkmark-5aab5ca45b6c87.8366901415211798123745.jpg">
    </ion-avatar>
    <ion-label>Official</ion-label>
  </ion-chip>

  
  
  </ion-card>

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="success">
        <ion-icon name="cash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning">
        <ion-icon name="star-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
 </ion-content>
